<template>
  <div id="app">
    <main>
      <div class="search-box">
        <input
          type="text"
          class="search-bar"
          placeholder="Search..."
          v-model="query"
          v-on:keypress="fetchWeather">
      </div>
      <div class="weather-info" v-if="typeof weather.main!='undefined'">
        <div class="location-box"> </div>
        <div class="location">{{weather.name}},{{weather.sys.country }}</div>
        <div class="date">{{dataBuilder()}}</div>
      </div>

      <div class="weather-box">
        <div class="temp">{{Math.round(weather.main.temp)}}*C</div>
        <div class="weather">{{weather.weather[0].main}}</div>
      </div>

    </main>
  </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      apiKey: 'bf54bbc46e5d03ddb372751c1a2c8b97',
      urlBase: 'https://api.openweathermap.org/data/2.5/',
      query: 'Baku',
      weather: {}
    }
  },


  methods: {
    fetchWeather(e) {
      if (e.key == "Enter") {
        fetch(`${this.urlBase}weather?q=${this.query}$units=metric&appid=${this.apiKey}`)
          .then(res => {
            return res.json();
          }).then(this.setResults);
      }
    },
    setResults(results) {
      this.weather = results;
    },


    dataBuilder() {
      let d = new Date();
      let months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
      let days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];

      let day = days[d.getDay()];
      let date = d.getDate()
      let month = months[d.getMonth()]
      let year = d.getFullYear();

      return `${day} ${date} ${month} ${year};`
    }
  }
}
</script>

<style>
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#app{
  background-image: url("./assets/qQa5Pd7.jpg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4s;
}
main{
  min-height: 100vh;
  padding: 25px;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.25), rgba(0,0,0,0.75));
}

.search-box{
  width: 100%;
  margin-bottom: 30px;
}
.search-box .search-bar{
  display: block;
  width: 100%;
  padding: 15px;
  color: #313131;
  font-size: 20px;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  background-color: rgba(255,255,255, 0.5);
  border-radius: 0px 16px 0px 16px;
  transition: 0.4s;
  box-shadow: 0px 0px 8px rgba(0,0,0, 0.25);
}
.search-box .search-bar:focus {
  background-color: rgba(255,255,255, 0.75);
  box-shadow: 0px 0px 16px rgba(0,0,0, 0.25);
  border-radius: 16px 0px 16px 0px;
}
/**** location-box *************/
.location-box{
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
}


.location {
  color: #fff;
  font-size: 32px;
  font-weight: 500;
  text-align: center;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
}

.date{
  color: #fff;
  font-style: italic;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-shadow: 1px 3px rgba(0, 0, 0, 0.25);
}

.weather-box{
  text-align: center;
}

.weather-box .temp{
  display: inline-block;
  padding: 10px 25px;
  color: #ffffff;
  font-size: 102px;
  font-weight: 900;
  text-shadow: 3px 6px rgba(0,0,0, 0.25);
  background-color: rgba(255,255,255, 0.25);
  border-radius: 16px;
  margin: 30px 0;
  box-shadow: 3px 6px rgba(0,0,0, 0.25);
}

.weather-box .weather{
  color: #ffffff;
  font-size: 48px;
  font-weight: 700;
  font-style: italic;
  box-shadow: 3px 6px rgba(0,0,0, 0.25);
}
</style>
